.Nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  margin: 1em 4em;
}

.Menu {
  font-size: .8em;
}

.ContactButton {
  border: 1px #fff solid;
  width: 139px;
  height: 42px;
  padding: 1em 2em;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;

}